p {
  margin-top: 0px;
  margin-bottom: 25px;
}

body {
  background-color: #F3F3F3;
  max-width: 800px;
  margin: auto;
  color: #475351;
}

h1 {
  color: #498E33;
  border-bottom-color: #CEDC3F;
  border-bottom-style: solid;
  text-align: center;
}

h2 {
  color: #498E33;
  border-bottom-color: #CEDC3F;
  border-bottom-style: solid;
  margin-bottom: 5px;
}

h3 {
  color: #475351;
  margin: 0 0 0 0;
}

section {
  margin-bottom: 5px;
  padding-left: 1em;
  padding-right: 1em;
  text-align: justify;
}

#dato {
  float: right;
}

footer {
  border-top: solid 1px black;
  padding-top: 10px;
  font-size: 90%;
  margin-top: 40px;
  text-align: center;
}


table {
  column-width: 300px;
  border-collapse: collapse;
}

td, th {
  padding: 2px;
  border: 1px solid black;
  padding-left: 10px;
  padding-right: 10px;
}

img {
  max-width: 80%;
  margin-bottom: 20px;
}

.mobile {
  max-width: 25%;
  margin: 10px;
  padding: 30px 8px;
  border: 1.2px solid black;
  background-color: white;
  border-radius: 30px;
  height: 320px;
}

.small {
  width: 50%;
}
